# macOS
.DS_Store

# ignore some personal notes
data_profiling_notes.md
plotly_dash_example.py

# ignore json schema
schema/
meeting_notes/

# ignore reference
reference/
rawdata/

# ignore test folder
tests/